* {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url('./foto/fotos3.jpg');
    background-size: 100%;
    background-attachment: fixed;
    /* padding: 20px; */
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    /* top: 10px;
    bottom:10px; */
    margin: 20px auto 20px auto;

    text-align: center;
    font-size: 50px;
    color: red;
    margin-top: 0px;
    text-shadow: rgb(8, 75, 8) 2px 1px;
    width: fit-content;
    /* margin-left: 15%; */
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    box-shadow: 0px 0px 30px 30px rgba(255, 255, 255, 0.5);

}

.img {
    display: block;
    width: 80%;
    /* height: calc(""); */
    margin: auto;
    /* border: 9px groove rgb(0, 255, 157); */
    /* background-image: url("./foto/fotos2.jpg"); */

    /* display: flex; */
    /* justify-content: center; */

}

img {
    width: 100%;
}

.text {
    margin: 20px auto;
    text-align: center;
    font-size: 40px;
    color: red;
    text-shadow: rgb(8, 75, 8) 2px 1px;
    width: 90%;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    box-shadow: 0px 0px 30px 30px rgba(255, 255, 255, 0.4);
}

@media (min-width: 767px) {
    .img {
        width: 600px;
    }

    .text2 {
        font-size: 1%;
    }

    .title {
        font-size: 39px;
    }

    section {
        width: 100%;
    }
}